img.profile-img {
  border-radius: 50%; 
  margin: auto;
}

.border {
  border: 2px solid #eee;
  padding: 25px;
}

.border-top {
  border-top: 15px solid #1cbc9c;
}

.slick-slider {
  margin-bottom: 0 !important;
}

.slick-dots, .slick-prev, .slick-next {
  position: relative !important;
  display: inline !important;
  left: 0 !important;
  right: 0 !important;
  font-size: 20px !important;
  color: black !important;
}

.slick-dots {
  width: 100px;
  bottom: 0 !important;
}

.profile-left {
  width: 30%; 
  float: left; 
  margin: 1%
}

.profile-right {
  width: 65%; 
  float: left; 
  margin-top: 2%
}

@media screen and (max-width: 767px) {
  .profile-left, .profile-right {
    width: 100%;
    margin: 0;
  }
}
